@keyframes heardbeat{
    from {
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
    }  
    to {
        transform: scale(1);
    }
}

@keyframes rotatecup{
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(25deg);
    }  
    50% {
        transform:rotate(0deg);
    }
    75% {
        transform:rotate(-25deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px) rotate(-25deg); }
    100% { transform: translateY(0); }
}
