@media (max-width: 1200px){   

       

    
}

@media (max-width: 991px){   

    .consultation{
        .container{
            margin-left: 10px;
        }
    }

    .promo{
        .container{
            margin: 0 10px ;
        }
    }

   

  
}

@media (max-width: 767px){   


.promo{
    max-height: 570px;
    min-height: 560px;
    .container{
        max-width:740px;
    }
    align-items:center;

    &__wrapper{
        margin-top: 40px;
       align-items:center;
    }
    &__subheader{
        margin-top: 0;
    }
    &__icons{
        margin-top: 25px;
    }
    button{
        margin-top: 30px;
        height: 40px;
        width: 250px;

    }
}


.advantages{
    .container{
        max-width:740px;
    }
}

.advantages__column{
    width: 220px;
}

.consultation{
    min-height: 380px;
    padding-top: 60px;
   
    .container{
        max-width: 720px;        
    }
    h2{
        font-size: 30px;
    } 
    .consultation__descr {
        padding-top: 40px;
    }  
   
}

.feed-form{
    input{
        height: 40px;
    }
    button{
        height: 40px;
    }
}

}

@media(max-width: 575px){
 
    .promo{
        .container{
            max-width: 540px;
        }
    }
    .header button{
        width: 105px;
        font-size: 10px;
        height: 30px;
        margin-top: 10px;
    }

    .header__logo{
        width: 190px;
    }

    .header__official{
        font-size: 10px;
        span{
            font-size: 13px;
        }
    }

    .header__contacts{
        a{
            font-size: 14px;
        }
    }

    .promo__header{
        font-size: 38px;
    }

    .promo__subheader{
        font-size: 20px;
    }
    
    .advantages__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

 
    .advantages__column:nth-child(1){
        margin-right: 15px;
        
    }

    .consultation{
        min-height: 380px;
        padding-top: 60px;
       
        .container{
            max-width: 540px;        
        }
        h2{
            font-size: 28px;
        } 
        .consultation__descr {
            padding-top: 30px;
        }  
       
    }


}
@media(max-width: 460px){
    .header__official{
        display: none;
    }

    .header__logo{
        width: 170px;
    }

    .header__contacts{
        a{
            font-size: 12px;            
        }
        button{
            width: 115px;
            height: 25px;
        }
    }

    .promo__header{
        font-size: 24px;
    }

    .promo__subheader{
        font-size: 14px;
    }

    .promo__icons{
        width: 310px;
    }

    .advantages__title{
        font-size: 24px;
    }
    
    .consultation{
        min-height: 380px;
        padding-top: 20px;
       
        .container{
            max-width: 310px;        
        }
        h2{
            text-align: center;
            font-size: 18px;
        } 
        .consultation__descr {
            width: 300px;
            padding-top: 10px;
            font-size: 14px;
            text-align: center;
        }  
       
    }

    .feed-form{
        margin-top: 10px;
        input{
            height: 38px;
        }
        button{
            height: 40px;
        }
    }
    
}

